@import "tailwindcss";

:root {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.129 0.042 264.695);

  --color-primary: #0ddaa0;
  --color-secondary: #8ce064;
  --color-border: #dcdcdc;

  --font-quicksand: "Quicksand", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}
html {
  scroll-behavior: smooth;
}


@layer base {
  
  body {
    font-family: var(--font-quicksand);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  .font-ubuntu {
    font-family: var(--font-ubuntu);
  }
}

/* 🔹 Tailwind-friendly utility classes */
@layer utilities {
  .bg-primary {
    background-color: var(--color-background);
  }

  .bg-secondary {
    background-color: var(--color-foreground);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .border-primary {
    border: 1px solid var(--color-primary);
  }

  .border-secondary {
    border: 1px solid var(--color-secondary);
  }

  .border-default {
    border: 1px solid var(--color-border);
  }
}



/* Logo */
.logo {
  filter: brightness(0%) contrast(167%) saturate(0%);
}

.logo-2 {
  filter: grayscale(100%) brightness(40%) contrast(100%);
}
.input {
  @apply w-full border border-slate-300 px-4 py-2 rounded-md
  focus:outline-none focus:ring-2 focus:ring-[#00c389];
}

.section-title {
  @apply text-lg font-semibold mb-3 text-slate-700;
}

